@import "../../assets/lib/variable.scss";

.logo {
    padding: ( $spacing * 2 );
}
.header {
    display: flex;
    background: $grayLed;
    padding: $spacing;

    > *:first-child {
        flex: 4;
    }
    .hamburguerMenu {
        i {
            color:  $red;
        }
    }
}