@import "../../assets/lib/variable.scss";
@import "../../assets/lib/mixin.scss";
.logo {
    padding: ( $spacing * 2 );
}

.header  {
    display: flex;
    background: $grayLed;
    padding: $spacing;
    align-items: center;

    > *:first-child {
        flex: 1;
    }
    > *:nth-child(2) {
        flex: 5;
    }
    .hamburguerMenu {
        i {
            color:  $red;            
            border: 1px solid $grayLed;
            border-radius: 50%;
            padding: 5px;
        }
    }


    @include for-tablet-portrait-up {
        display: block;
        .hamburguerMenu {
            display: none;
        }
    }  
}