<div class="footer">
    <div class="footer__area footer__area--institucional">        
        <h3 class="footer__area__title"> Institucional </h3>
        <div class="footer__area__content"> 
            <ul> 
                <li> <a>Conceito</a> </li>
                <li> <a>Fale Conosco</a> </li>
                <li> <a> Nossa Historia</a> </li>
            </ul>
        </div>        
    </div>

    <div class="footer__area footer__area--socialNetwork">        
        <h3 class="footer__area__title"> Institucional </h3>
        <div class="footer__area__content"> 
            <ul> 
                    <li> <a>Conceito</a> </li>
                    <li> <a>Fale Conosco</a> </li>
                    <li> <a> Nossa Historia</a> </li>
            </ul>
        </div>        
    </div>

    <div class="footer__area footer__area--quickInfo">        
        <h3 class="footer__area__title"> Info </h3>
        <div class="footer__area__content"> 
            <span class="footer__area__email">thedarkcaststudios@gmail.com</span>
            <span class="footer__area__address">Avenida do Medo, 666, Santana - Porto Alegre / RS - 91234-567</span>
        </div>
    </div>
    
</div>