<div class="portal">
  <form class="form mainForm">
    <h1 class="main-title"> DarkCast </h1>

    <div class="mainForm__wrapper">
     <div [ngClass]="{'mainForm__inputWrapper' : true,'mainForm__inputWrapper--error': nameControl.touched && nameControl.invalid }">
        <i class="material-icons">people</i>
        <input type="text" class="mainForm__input" [ngModel]="name" required #nameControl="ngModel" placeholder="nome completo" name ="name"/>
      </div>

      <div [ngClass]="{'mainForm__inputWrapper' : true,'mainForm__inputWrapper--error': userControl.touched && userControl.invalid  }">
        <i class="material-icons">email</i>
        <input type="text" class="mainForm__input" [ngModel]="user" required email #userControl="ngModel" placeholder="seuemail@dominio.com" name="user"/>
      </div>

      <div [ngClass]="{'mainForm__inputWrapper' : true,'mainForm__inputWrapper--error': passControl.touched && passControl.invalid  }">
        <i class="material-icons">lock </i>
        <input type="password" class="mainForm__input" name="pass" [ngModel]="pass" required #passControl="ngModel" placeholder="chave de acesso"/>
      </div>

      <div [ngClass]="{'mainForm__inputWrapper' : true,'mainForm__inputWrapper--error': passRepControl.touched && passRepControl.invalid  }">
        <i class="material-icons">lock </i>
        <input type="password" class="mainForm__input" name="passRep" [ngModel]="passRep" required #passRepControl="ngModel"  placeholder="Repita a chave de acesso"/>
      </div>

      <div class="mainForm__inputWrapper mainForm__inputHalf">
        <input type="submit" value="Registrar-se" name="save" />
      </div>
    </div>
  </form>
</div>
