<form class="form login">
  <h1 class="main-title"> DarkCast </h1>

  <div class="login__wrapper">
    <div class="login__inputWrapper">
      <i class="material-icons">people</i>
      <input type="text" class="login__input" name="user" placeholder="usuario"/>
    </div>

    <div class="login__inputWrapper">
      <i class="material-icons">lock </i>
      <input type="password" class="login__input" name="pass" placeholder="chave de acesso"/>
    </div>

    <div class="login__inputWrapper login__inputHalf">
      <input type="submit" value="Entrar" name="enter" />
    </div>
  </div>
  <a class="login__forgotPassword"> Esqueceu a senha </a>

  <div class="login__separator">
     ou
  </div>

  <a class="btn main"> Cadastrar </a>
</form>
