<div class="portal">
  <form class="form mainForm">
    <h1 class="main-title"> DarkCast </h1>

    <div class="mainForm__wrapper">
      <div class="mainForm__inputWrapper">
        <i class="material-icons">people</i>
        <input type="text" class="mainForm__input" name="user" placeholder="usuario"/>
      </div>

      <div class="mainForm__inputWrapper">
        <i class="material-icons">lock </i>
        <input type="password" class="mainForm__input" name="pass" placeholder="chave de acesso"/>
      </div>

      <div class="mainForm__inputWrapper mainForm__inputHalf">
        <input type="submit" value="Entrar" name="enter" />
      </div>
    </div>
    <a class="mainForm__forgotPassword"> Esqueceu a senha </a>

    <div class="mainForm__separator">
      ou
    </div>

    <a class="btn main" routerLink="/registration"> Cadastrar </a>
  </form>
</div>
