<div class="portal">
  <form class="form mainForm" (submit)="loginUser($event)" [formGroup]="form">
    <h1 class="main-title"> DarkCast </h1>

    <div class="mainForm__wrapper">
      <div class="mainForm__inputWrapper" [ngClass]="{'mainForm__inputWrapper--error': !form.get('user').valid && form.get('user').touched}">
        <i class="material-icons">people</i>
        <input type="text" class="mainForm__input" formControlName="user" name="user" id="user" placeholder="email"/>
      </div>
      <span class="errorMsg" [ngClass]="{'errorMsg--show': !form.get('user').valid && form.get('user').touched}"> O email não é válido</span>      
      

      <div class="mainForm__inputWrapper" [ngClass]="{'mainForm__inputWrapper--error': !form.get('pass').valid && form.get('pass').touched}">
        <i class="material-icons">lock </i>
        <input type="password" class="mainForm__input" formControlName="pass" id="pass" placeholder="chave de acesso"/>
      </div>
      <span class="errorMsg" [ngClass]="{'errorMsg--show': !form.get('pass').valid && form.get('pass').touched}"> A senha precisa ser preenchida</span>

      <div [ngClass]="{'mainForm__inputWrapper' : true, 'mainForm__inputHalf' : true,'mainForm__inputWrapper--disabled': !form.valid }">
        <input type="submit" value="Entrar" name="enter" [disabled]="!form.valid"/>
      </div>
    </div>
    <a class="mainForm__forgotPassword"> Esqueci a senha </a>

    <div class="mainForm__separator">
      ou
    </div>

    <a class="btn main" routerLink="/registration"> Cadastrar </a>
  </form>
</div>
