@import "../../assets/lib/variable.scss";


    i {
        color:  $red;
    }

    ul {
        font-family: $regularFontFamily;
        li {
            padding: 10px 20px;
            border-top: 1px solid lighten($red, 2.5%);
            border-bottom: 1px solid darken($red, 2.5%);
            color: white;
            a {
                color: white;
                text-decoration: none;
                display: block;
            }

            &.hello {
                background: $red;
                color: black;
                a {
                    padding: ($spacing / 2) 0;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
