@import "../../assets/lib/variable.scss";
.story {
    position: relative;
    min-height: 500px;
    margin-top: ($spacing * 2);
    &__canvas {
        background: $grayLight;
    }

    &__options {
        padding: $spacing;
        display: flex;
        justify-content: space-between;
        &__option {
            padding: $spacing;
            text-align: center;
            margin: 5px;
            background: $grayLed;
            color: $red;
            flex: auto;
        }
    }
}