@import "../../assets/lib/variable.scss";
.story {
    padding: $spacing;
    &__canvas {
        background: $grayLight;
    }

    &__options {
        padding: $spacing;
        display: flex;
        justify-content: space-between;
        &__option {
            padding: $spacing;
            text-align: center;
            margin: 5px;
            background: $grayLed;
            color: $red;
            flex: auto;
        }
    }
}