<mat-sidenav-container class="general">
   <app-header></app-header>
   <app-banner></app-banner>
   <div class="story">
     <app-player *ngIf="playStory" [filename]="currentChapter.name" [currentFile]="currentChapter.filepath"></app-player>

     <div class="story__options" *ngIf="displayOptions">     
        <div class="story__options__option"> option 1 </div>
        <div class="story__options__option"> option 2 </div>
     </div>
   </div>
   <app-footer></app-footer>
</mat-sidenav-container>