<mat-sidenav-container class="general">
   <app-header></app-header>
   <app-banner></app-banner>
   <div class="story">
     <app-player *ngIf="playStory" [filename]="currentChapter.name" [initialTime]="initialTime" [background]="currentChapter.background" [currentFile]="currentChapter.filepath"></app-player>

     <div class="story__options" *ngIf="displayOptions">     
        <div class="story__options__option" *ngIf="options.track_id_child_1" (click)="startChapter(options.track_id_child_1)"> {{options.answer_child_1}} </div>
        <div class="story__options__option" *ngIf="options.track_id_child_2" (click)="startChapter(options.track_id_child_2)"> {{options.answer_child_2}} </div>
     </div>

     <!-- <button (click)="facebookSharing(shareObj)">Facebook Share</button> -->
   </div>
   <app-footer></app-footer>
</mat-sidenav-container>
<div class="spinner" *ngIf="spinner"><div></div><div></div><div></div><div></div></div>