@import "../../assets/lib/variable.scss";

.search {    
    display: flex;    
    > * {
        background: none;
        border: none;
    }
    &__submit {
        color: $red;        
    }
    &__term{
        flex: 4;   
        color: $grayLight;
        font-style: italic;    
    }
}